<mat-card class="content" [ngClass]="{'row-inverse': isOdd}">
  <div class="logo">
    <img src="{{ experience.urlLogo}}"/>
    <p>{{ experience.company }}</p>
  </div>
  <div class="container">
    <div class="summary">
    <span class="duration">{{ experience.startDate.format('MMM YYYY') }} -
      {{ jobInProgress ? 'En cours' : experience.endDate.format('MMM YYYY') }} </span>
      <br/>
      <div class="job">{{ experience.job }}</div>
    </div>
    <div class="details" [innerHTML]="experience.description">
    </div>
    <br />
    <div *ngIf="experience.technology">
      <span class="underline">Compétences acquises :</span>
      <span *ngFor="let techno of experience.technology; let isLast=last">
          {{ techno }}{{ isLast ? '.' : ', ' }}
      </span>
    </div>
    <div *ngIf="experience.tools">
      <span class="underline">Outils utilisés :</span>
      <span *ngFor="let tool of experience.tools; let isLast=last">
          {{ tool }}{{ isLast ? '.' : ', ' }}
      </span>
    </div>
    <div *ngIf="experience.methodology">
      <span class="underline">Méthodologie :</span>
      <span *ngFor="let methodo of experience.methodology; let isLast=last">
          {{ methodo }}{{ isLast ? '.' : '/' }}
      </span>
    </div>
  </div>
</mat-card>
