$white : rgba(255,255,255,1);

.content {
  background: rgba(0,0,0,0.2);
  color: $white;
  display: flex;
  flex-direction: row;

  a {
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255,255,255, 0.5);
  }

  .left {
    display: flex;
    flex: 1;
    margin: auto 25px;

    h2 {
      margin: 10px;
    }
  }

  .right {
    flex: 1;
    font-size: 1.5em;
    margin: 25px;
    text-align: right;

    i {
      margin: 10px;
    }
  }
}
